<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net462" />
  <package id="cef.redist.x64" version="102.0.10" targetFramework="net462" />
  <package id="cef.redist.x86" version="102.0.10" targetFramework="net462" />
  <package id="CefSharp.Common" version="102.0.100" targetFramework="net462" />
  <package id="CefSharp.Wpf" version="102.0.100" targetFramework="net462" />
</packages>